# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
env/
.venv/

# IDE folders
.vscode/
.idea/

# OS artifacts
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# Databases / storage
*.db
*.sqlite3

# Logs
*.log

# Test cache
.pytest_cache/
